.userbox, .userbox:hover{
    background-color: #27647B;
    text-decoration: none;
    color: white;
    font-weight :bold;
    font-size: calc(16px + 0.4vw);
    max-width: calc(700px + 2vw);
    text-align: center;
    padding: 5px 10px;
    border-radius: 15px;
}
