.accent-input {
    color: black;
    font-size: 1.25em;
    border-radius: 10px;
    background-color: #849FAD;
    border-color: transparent;
}

::placeholder {
    color: black!important;
    opacity: 1;
}

::-ms-input-placeholder {
    color: black!important;
}