section{
    margin: calc(4vw + 20px) calc(2vw + 24px);
}
.box{
    width: calc(225px + 32vw);
    margin: calc(2vw + 20px) auto;
}
.center{
    text-align: center;
}
table{
    margin: calc(1.5vw + 6px) 0 calc(0.6vw + 4px) 0;
}
td{
    padding-top: 4px;
    vertical-align: top;
}
table img{
    width: calc(1vw + 16px);
    margin-right: 16px;
}
table p{
    min-height: calc(1vw + 26px);
    margin: 0;
    font-size: calc(0.4vw + 15px);
}
.button, .button:hover{
    text-decoration: none;
    color: white;
    background-color: #CA3542;
    padding: 8px 36px;
    border-radius: 20px;
    font-size: calc(0.3vw + 14px);
}